.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center/cover
  margin-top: 100px
  padding-top: 3rem

  &__wrap
    background: $black url('../img/BACKGROUNDLINEfooter.png') no-repeat center/cover
    max-width: 55.3rem
    margin: auto
    padding: 2.5rem
    margin-bottom: 4.7rem
    margin-top: -16.7rem
    transform: translateX(10px)
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    text-align: center
    font-size: 1.2rem
    margin-bottom: 3rem
    margin-top: -5px
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
    max-width: 35rem
    padding-left: 29px
  &__input
    padding-top: 0.3rem
    margin-top: -0.5rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      transform: translateX(-10px)
      &--full-width
        flex-basis: 100%
        margin-top: -0.5rem
        margin-bottom: 1.9rem
    &::placeholder
      color: $light
  &__policy
    flex-basis: 100%
    margin-bottom: 3rem
    font-size: 10px
    &__label
      justify-content: center
  &__btn
    margin: auto
    padding: 1rem 3.9rem
    font-size: 16px
    padding: 1rem 3.76rem
    transform: translateX(-15px)
 
  &__menu
    margin-top: 2rem
    background-color: $dark
    padding: 4.285rem 0
    display: flex
    padding: 3.2rem 0

  &__name
    display: block
    justify-content: center   
    flex-direction: column
  &__text
    font-family: 'Yeseva One', cursive
    text-align: center
    text-transform: uppercase
    color: $primary
    margin-top: 52px
    font-size: 0.9rem
    font-weight: 600
    font-style: normal
    line-height: 2rem
    text-decoration: none
  &__img
    margin-bottom: 30px
    transform: translateX(-10px)
    img
      padding-left: 10px
  &__map
    display: flex
    justify-content: center
    filter: grayscale(1)
    padding-bottom: 30px
  &__phone
    max-width: 509px
    margin: auto
    margin-top: -35px
    font-size: 20px
    font-weight: 500
    margin-bottom: 20px
  &__tel
    text-decoration: none
    color: $primary
.google-map
  width: 100%
  height: 465px
  border: 0

  #checkBoxFooter-error
    position: absolute
    margin-left: 165px
    margin-top: 45px
