.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center/cover
  margin-top: 100px
  padding-top: 3rem

  &__wrap
    background: $black url('../img/BACKGROUNDLINEfooter.png') no-repeat center/cover
    max-width: 54.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -20rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3rem
    font-size: 10px
    &__label
      justify-content: center
  &__btn
    margin: auto
    padding: 1rem 3.9rem
    font-size: 16px
 
  &__menu
    margin-top: 4rem
    background-color: $dark
    padding: 4.285rem 0
    display: flex

  &__name
    display: block
    justify-content: center   
    flex-direction: column
  &__text
    font-family: 'Yeseva One', cursive
    text-align: center
    text-transform: uppercase
    color: $primary
    margin-top: 52px
    font-size: 0.9rem
    font-weight: 600
    font-style: normal
    line-height: 2rem
    text-decoration: none
  &__img
    margin-bottom: 30px
    img
      padding-left: 10px
  &__map
    display: flex
    justify-content: center
    filter: grayscale(1)
    padding-bottom: 30px
  &__phone
    max-width: 509px
    margin: auto
    margin-bottom: 10px
    margin-top: -35px
    font-size: 20px
    font-weight: 500
  &__tel
    text-decoration: none
    color: $primary


  #checkBoxFooter-error
    position: absolute
    margin-left: 165px
    margin-top: 45px
