body {
  margin: 0;
  padding: 0;
}

.main__price {
  background-image: url(/workforpoints3//hard/img/back_1.png);
  margin-top: 59px;

}

.main__haider {
  display: block;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 90px;
}

.main__title {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 49px;
}

.main_text {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.main__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-main {
  width: 400px;
  height: 660px;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;


}

.main__column {
  margin-bottom: 118px;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
}

.item-main1 {
  margin-right: 40px;
  margin-left: 40px;
}

.item-main__text1 {
  color: #1a1820;
  font-family: "Proxima Nova";
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 50px;
  padding-bottom: 33px;
}

.item-main__price {
  color: #1a1820;
  font-family: "Proxima Nova";
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  font-size: 30px;
  margin-top: 37px;
  margin-bottom: 32px;
}

.item-main__button1 {
  padding-top: 112px;
}

.item-main__button2 {
  padding-top: 74px;
}

.item-main__button3 {
  padding-top: 55px;
}

.item-main__button {
  margin-top: 49px;

}

.main__button {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.button--primary {
  width: 209px;
  height: 65px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #ffba15;
  background-color: #ffb504;
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
}

.main__additional {
  background-image: url(/workforpoints3//hard/img/back_2.png);
  margin-top: 48px;
}

.button--primary1 {
  width: 146px;
  height: 52px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #ffba15;
  background-color: #ffb504;
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%);
}