@font-face {
  font-family: 'Bebas Neue Regular';
  src:
    url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
    url('../fonts/BebasRegular/BebasRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Open Sans Regular';
  src:
    url('../fonts/Open/Sans/.woff') format('woff'),
    url('../fonts/Open/Sans/.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Bad Script Regular';
  src:
    url('../fonts/BadScriptRegular/BadScript-Regular.woff') format('woff'),
    url('../fonts/BadScriptRegular/BadScript-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Lobster Regular';
  src:
    url('../fonts/Lobster/Lobster.woff') format('woff'),
    url('../fonts/Lobster/Lobster.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}