
@import "fonts"
@import "normalize"
@import "variables"
@import "grid"
@import "interface"
@import "templates/header"
@import "templates/hero"

*,*:before, *:after
  box-sizing: border-box //не надо считать высотус учетом внутреннего отсупа

body
  font-family: 'Futura Book', sans-serif
  font-size: 14px
  
