.main__body {
  max-width: 1174px;
  height: 100vh;
  margin: 0 auto;
}

.main__title {
  margin-top: 79px;
  margin-bottom: 75px;
  text-align: center;
  color: #666666;
  font-family: "PF Din Text Cond Pro";
  font-size: 35px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.title {
  color: #666666;
  font-family: "PF Din Text Cond Pro";
  font-size: 35px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.main__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-main__title {
  color: #666666;
  font-family: "PF Din Text Cond Pro";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.item-main__button {
  margin-top: 29px;
  margin-bottom: 20px;
}

.main__button {
  margin-right: 10px;
}

.button--primary {
  width: 133px;
  height: 41px;
  background-color: #66cc66;
  color: #ffffff;
  font-family: "PF Din Text Cond Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  border: none;
}

.button--outline {
  width: 133px;
  height: 41px;
  border: 2px solid #66cc66;
  background-color: #ffffff;
  color: #66cc66;
  font-family: "PF Din Text Cond Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}