@media screen and ( min-width: 1360px )
  .projects .swiper-slide__text:nth-child(2), .projects .swiper-slide__text:nth-child(4) 
    margin-left: -6.228rem

@media screen and ( max-width: 1200px )
  html
    font-size: 10px
  .comand
    &__section-title
      margin-top: 10.714rem
      margin-left: 20px
  .modal
    &__btn
      margin-top: -30px
  .control
    #checkBoxControl-error
      margin-left: 138px
      margin-top: 40px
  .footer
    #checkBoxFooter-error
      margin-left: 105px
    
@media screen and ( max-width: 992px )
  a:hover
    cursor: default
  *:hover 
    #button-up 
      cursor: none
    .phone
      font-size: none
    .hero
      &__scroll-down
        box-shadow: none
        color: none
  .nav
    display: none
  .hero
    .instagram
      display: none //скрываем кнопку
    .content
      margin-left: 0
    &__scroll-down /*переход на след страницу,элемент в нижнем левом углу*/
      &:hover 
        box-shadow: none 
  .projects
    .section-title
      &__text
        &--family
          margin-top: 40px
    .swiper
      &-container
        width: 100%
        height: 100%
  .header
    .nav
      &__item
        &:hover
          color: $light
    .phone
      &:hover
        font-size: 15px
  .btn
    &:hover 
      cursor: auto
    &--primary 
      &:hover 
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
    &--outline 
      &:hover 
        background-color: transparent
        box-shadow: none
  #checkBoxControl-error
    margin-left: 25px
    margin-top: 30px

@media screen and ( max-width: 760px  )
  .projects  .section-title__heading 
    font-size: 2.3rem
  .projects .section-title__text
    line-height: 2.1rem
    font-size: 1.4rem
  .header 
    padding: 21px 0
  .logo 
    font-size: 1rem
    margin-left: -11px
  .section-title__heading-control 
    font-size: 2.4rem
    margin-bottom: 9px
  .hero
    &__btn
      width: 100%
  .btn--outline 
    margin-top: 2.9rem
  .contacts
    &__btn
      display: none
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .row .card__text
    margin-left: 0
  .form
    display: block
  .control.section-title__image
    margin-bottom: 3rem
  .control
    &__lable
      color: rgba(255, 255, 255, 0.5)
    &__policy
      color: $light

  .control
    &__video 
      min-height: 20.7rem
      margin-bottom: 2.8rem
    &__text 
      font-size: 1.31rem
      line-height: 2.4rem
    &__input 
      font-size: 1.7rem
      color: $light
  .section-title
    &__image
      margin-bottom: 3rem
    &__text
      color: $light
    &__lable
      color: rgba(255, 255, 255, 0.5)
      margin-top: 20px
      &__input
        border-bottom: 1px solid $light
        &::placeholder
          color: $light
      &-group
        flex-basis: 100%
    &__form
      display: flex
      flex-wrap: wrap
    &__btn
      margin-top: 40px
      width: 100%
      order: 2
    &__policy
      color: #fff
      justify-content: left
      display: grid
      order: 1
    #checkBoxControl-error
      margin-left: 25px 
      margin-top: 30px 
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
      margin-top: 2rem
  .projects
    .col-50 
      width: 100%
    .swiper
      &-container
        margin-top: 2.14rem
  .projects .swiper-slide__text 
    margin-bottom: -0.45rem
    margin-top: 10px
    flex-basis: 50%

    &-button
      &-next
        margin-left: 50px
    .section-title
      &__heading 
        margin-bottom: 3rem
        font-size: 2.26rem
      &__text
        line-height: 2.1rem
        font-size: 1.4rem
        &--family
          margin-top: 40px
      &__word
        &::after
          display: 
  .types .row .card__title 
    font-size: 1.5rem
    margin-bottom: 0.9rem
  .row .card__list 
    font-size: 1.3rem
  .types .row .card__text 
    margin-top: -14.4rem
    max-width: 80%
  .row .card__text 
    padding-top: 2.5rem
  .types .row .card__list 
    margin-bottom: 2.4rem
    line-height: 2.2rem
  .types .row .card__pricetag 
    font-size: 1.5rem
  .types__card 
    margin-bottom: 7.9rem
  .row  .card__title 
    font-size: 1.5rem

  .projects .col-50:nth-child(2) 
    width: 100%
  .projects .section-title__text 
    line-height: 2.2rem
    font-size: 1.4rem
    margin-top: 2.7rem
  .projects .col-50:nth-child(2) 
    width: 100%
  .control__text 
    margin-bottom: 3.2rem
    color: $light
  .control__form .control__input-group:nth-child(2) 
    margin-top: 6rem
  .control__form .control__input-group:nth-child(2) 
    margin-top: 6rem
  .control__form 
    position: relative
  .control__policy 
    margin-left: -15rem
  .control__btn 
    position: absolute
    bottom: -11.4rem
    width: 100%
    padding: 21px 0px
  .projects .col-50:nth-child(2) 
    margin: auto
  .control .section-title__heading-control
    font-size: 2.4rem
    margin-bottom: 9px
  .design .section-title__text 
    font-family: inherit
  .design .section-title__text 
    max-width: 28rem
    font-size: 1.37rem
    line-height: 2.1rem
  .design .section-title__heading 
    font-size: 2.425rem
    padding-bottom: 1rem
    padding-top: 3rem
  .design .section-title__image 
    margin: 0
  .design__section-title
    color: #ffffff
    margin-bottom: 1.9rem 
  .control__section-title 
    padding-bottom: 2.2rem
  .design .row .card__list 
    line-height: 2.2rem
  .design .row .card__text 
    max-width: 80%



  .footer
    background: none
    margin-top: -25px
    &__text
      order: 1
    &__name
      display: flex
    &__menu
      display: none
    &__btn
      width: 100%      
    &__phone
      margin-top: -50px
  .footer__wrap 
    background: #131313
    padding: 0
    margin-top: 4rem
    margin-left: -20px

  .footer__img img 
    width: 50px
  .footer__phone 
    line-height: 2.5rem
  .google__map 
    max-height: 465px
  .footer 
    background: #131313
  .control 
    background: #131313
        
@media screen and ( max-width: 570px  )
  *:hover 
    #button-up 
      cursor: none
    .phone
      font-size: none
    .hero
      &__scroll-down
        box-shadow: none
        color: none
  .contacts
    .contacts__phone
      margin-right: 0
      color: #ffffff
      text-decoration: none
    &__button
      display: none
  .hero  
    .title
      font-size: 2.64rem
    .hero__content
      margin-bottom: 50px
    .hero__text
      font-size: 1.68rem
      margin-bottom: 3.45rem
    &__btn
      display: block
      margin-bottom: 1.85rem
      font-size: 13px
    .hero__scroll-down
      display: none
    .section-title
      &__text
        &--family
          margin-top: 40px
    .swiper
      &-container
        margin-top: 2.14rem
  .modalSend
    &-content
      max-width: 100%
  .modal
    &__btn
      bottom: 0
      right: 0
      margin: 0
      margin-right: 20px
  
  .video__play 
    width: 6rem
  .google-map 
    height: 250px
  .projects 
    padding-top: 0
  .design .card__text  ul li:nth-child(n+8)
    display: none

@media screen and ( max-height: 520px  )
  .hero
    .hero__scroll-down
      display: none
  .projects
    .section-title
      &__text
        &--family
          margin-top: 40px
  

@media screen and ( max-height: 420px  )
  .footer
    &__text
      font-size: 1rem
