*,*:before, *:after
  box-sizing: border-box //не надо считать высотус учетом внутреннего отсупа
html
  width: 100%
  max-width: 100%
  overflow-x: hidden
  scroll-behavior: smooth


body
  font-family: 'Futura Book', sans-serif
  font-size: 14px
  width: 100%
  max-width: 100%
  overflow-x: hidden
input 
  outline: none

img
  max-width: 100%
.section
  &.comand
    padding-bottom: 200px
  &--dark
    background-color: $dark
    color: $light
    padding-bottom: 18rem
    &__foot
      padding-bottom: 0
      margin-top: 23rem
  &-title
    text-align: center
    &__fraction
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      margin-top: 92px
    &__room
      font-family: Yeseva One
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 23px
      text-transform: uppercase
      margin-top: 22px
      margin-bottom: 16px
    &__work
      position: relative
      text-transform: uppercase
      font-family: FuturaDemiC
      font-style: normal
      font-weight: 500
      font-size: 15px
      line-height: 21px
      margin-bottom: 20px
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      text-transform: uppercase
      font-family: 'Yseva One'
      margin-bottom: 5px
      letter-spacing: -2px
      margin: 0
      font-size: 1.825rem
      line-height: 136.6%
      &-control
        font-size: 1.385rem
        line-height: 50px
        margin-top: 30px
        margin-bottom: 0px
      &-types
        font-family: 'Yseva One'
        line-height: 50px
        margin-top: 30px
        margin-bottom: 0px
        font-size: 2.425rem
        padding-bottom: 1rem

      &-comand
        font-size: 1.225rem
        line-height: 50px
        margin-top: 30px
      &-client
        font-size: 1.225rem
        line-height: 50px
        margin-top: 30px
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ' '
        width: 88px
        height: 2px
        background-color: $primary
        margin-left: 2.3rem
    &__text
      max-width: 28.7rem
      font-family: 'Futura Book', sans-serif
      text-align: left
      font-size: 1.1rem
      font-style: normal
      font-weight: normal
    &--client
      max-width: 25.714rem
      margin-bottom: 200px
      font-size: 18px
      &-comand
        font-size: 19px
 
      &--apparaiser
        max-width: 24.071rem
        font-family: 'FuturaBookC'
        text-align: left
        font-size: 1.071rem
        line-height: 1.785rem

    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: #E3B873
        margin: 0 10px
    
